body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* PAGE TRANSITIONS */

@keyframes slide-in {
  from {
    transform: translateX(100%);
    animation-timing-function: ease-out;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    animation-timing-function: linear;
  }
  to {
    opacity: 0;
  }
}

.fullsize {
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.page-revealed {
  animation: slide-in 500ms forwards;
}

.page-hidden {
  animation: fade-out 500ms forwards;
}

.page-initial-hidden {
  display: none;
}
